<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Bar Page</title>
    <link rel="stylesheet" href="/Static/style.css">
</head>

<body>
    <div class="nav">
        <img src="/Static/YFA_Logo.png" alt="Company Logo">
        <nav>
            <button type="button"><span></span> <a href="/profile">Profile</a> </button>
            <button type="button"><span></span> <a href="/Kahoot">Kahoot</a></button>
        </nav>
    </div>

    <br>
    <center>

    <div class="homeContainer">
        <div class="Logo"><img src="/Static/profile_Logo.png" alt="Logo"></div>
            <p>Ya welcome ya welcome, yala ne2ra fi el ketab el mokadas we neksab sawa ^._.^</p>
            <div class="list">
                <ul>
                    
                </ul>
            </div>
        </div>
    <center>

    </body>
</html>
