<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kahoot</title>
    <link rel="stylesheet" href="/Static/journy.css">
    <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" /> -->

<style>
        #map {
            height: 400px;
            width: 40%;
        }
    </style>

</head>

<body>
    <div class="nav">
        <img src="/Static/YFA_Logo.png" alt="Company Logo">
    
        <nav>
            <button type="button"><span></span> <a href="/">Home</a> </button>
            <button type="button"><span></span> <a href="/profile">Profile</a> </button>
            <button type="button"><span></span> <a href="sign in">Sign In</a></button>
            <button type="button"><span></span> <a href="sign up">Sign Up</a></button>
        </nav>
    </div>
    <br>
    <center>
        <h2>Kahoot</h2>
            <div class="weekly-questions">
              <h2>This Week's Challenge</h2>
              <iframe src="https://forms.gle/LgQiSLEqcg3yvayT7" width="640" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </div>

    </center>


<script src="/Static/mapBox.js"></script>
</body>

</html>