<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/Static/profile.css">
</head>

<body>
    <div class="nav">
        <img src="/Static/YFA_Logo.png" alt="Company Logo" width="50px">
        <nav>
            <button type="button"><span></span> <a href="/">Home</a> </button>
            <button type="button"><span></span> <a href="/Kahoot">Kahoot</a></button>
        </nav>
    </div>
    <div class="profileContainer">

        <div class="userInfo">
            <div class="avatar"><img src="/Static/cross.png" alt="avatar"></div>
            <div class="list">
                <ul>
                    
                </ul>
            </div>
        </div>
        <div class="rightinfo">
            <div class="GeneralInformation">
                <p>Username : <span>{{Username}}</span> </p>

                <!-- <p>Gender : <span>{Gender}</span> </p>
                    
                <p>Country : <span>{Country}</span> </p>
                    
                        
                <p>Rides : <span>{Rides}</span> </p>
                        Offer !
                        <div class="OfferCounter">
                                <div class="fill"></div>
                        </div> -->

            </div>
            <hr>
            </hr>
            <div class="personalInformation">
                <p>E-mail : <span>{{Email}}</span> </p>
                <!-- <p>Number : <span>{Number}</span> </p>
                    <p>Date Of Birth : <span>{Date Of Birth}</span> </p> 
                    <p>ID : <span>{ID}</span></p> -->
            </div>
        </div>
    </div>
</body>

</html>